body{
	margin: 0px;
	background-color: #FFE6E6;
	font-family: Helvetica;
}

p{
	text-align: center;
	text-indent: 45px;
}

hgroup{
	margin: 0px;
	text-align: center;
}

h1{
	margin: 0px;
}

h3{
	color: #E75C5C;
	text-align: center;
}

input{
  height: 30px;
}

a{
	color: #21B6FF;
	cursor: pointer;
}

a:hover{
	color: #CC1A1A;
	border-bottom: solid 1px #CC1A1A;
}

a:active{
	color: #177FB2;
	border-bottom: solid 1px #177FB2;
}

.div-geral{
	width: 100%;
	height: 100%;
}

.div-titulo{
	margin: 0px;
	width: 100%;
	height: 135px;
	padding-top: 12px;
	padding-bottom: 18px;
	position: relative;
	z-index: 5;
	box-shadow: 0px 0px 3px;
	background-color: #C93A4D;
}

.div-produtos{
	display: flex;
	justify-content: center;
}

.div-fotos-produtos{
	float: left;
	text-align: center;
	justify-content: center;
	width: 150px;
	height: 200px;
	background-color: #CCC;
	margin-top: 70px;
	margin-right: 120px;
	margin-left:120px;
	margin-bottom: 70px;
	padding: 5px;
}

.container-img{
	position: relative;
	height: 150px;
	width: 150px;
	text-align: center;
	background-color: red;
	color: transparent;
	text-shadow: none;
	transition: 0.2s;
	transition-property: color, text-shadow;
}

.container-img:hover{
	text-shadow: 1px 1px black;
	color: white;
}
.container-img img{
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.containerText1{
	position: absolute;
	height: 100%;
	width: 150px;
	top: 8px;
	overflow-wrap: break-word;
}

.containerText2{
	font-size: 24px;
	position: absolute;
	height: 100%;
	width: 150px;
	top: 125px;
	overflow-wrap: break-word;
}

.botao-add-carrinho{
	position: relative;
	z-index: 30;
	width: 125px;
	margin-top: 9px;
	height: 35px;
	font-size: 12px;
	background-color: #CFAFAF;
	outline: none;
	border-radius: 3px;
	border: none;
	transition-property: background-color;
	transition: 0.1s;
}

.botao-add-carrinho:hover{
	cursor: pointer;
	background-color: #BA8E8E;
}

.botao-comprado{
	width: 125px;
	margin-top: 9px;
	height: 35px;
	font-size: 12px;
	background-color: #78B074;
	outline: none;
	border-radius: 3px;
	border: none;
	color: white;
}

.botao-opcoes{
	width: 100px;
	background-color: #E75C5C;
	color: black;
	cursor: pointer;
	border: none;
	border-radius: 3px;
	padding: 3px;
	outline: none;
}

.botao-opcoes:hover{
	background-color: #ae2e2e;
}

.div-opcoes{
	display: flex;
	justify-content: center;
	margin-bottom: 110px;
}

.div-continuacao{
	display: flex;
	justify-content: center;
}

.div-selecionar-continuacao{
	background-color: #e5e5e5;
	width: 100%;
	height: 135px;
	padding-top: 50px;
	text-align: center;
}


.div-video-produtos{
	display: flex;
	justify-content: center;
	margin-top: 70px;
	margin-bottom: 70px;
	width: 100%;
	height: 340px;
}

.div-area{

	margin-top: 70px;
	margin-right: 30px;
	margin-left:30px;
	margin-bottom: 70px;
}

.div-depoimento{
	margin: 3px;
}

.input-depoimento{
	height: 80px;
	width: 99%;
	font-size: 24px;
	outline: none;
}

.botao-depoimento{
	margin-top: 20px;
	width: 100px;
	background-color: #E75C5C;
	color: black;
	cursor: pointer;
	border: none;
	border-radius: 3px;
	padding: 3px;
	outline: none;
}

.botao-depoimento:hover{
	background-color: #ae2e2e;
}

.div-opinioes{
	margin-top: 70px;
	margin-right: 30px;
	margin-left:30px;
	margin-bottom: 70px;
	padding:40px;
}

.div-area-opinioes{
	background-color: #e5e5e5;
}

.div-area-contatcao{
	margin: 0px;
}

.div-contatacao{
	text-align: center;
	margin-bottom: 50px;
}

.div-rodape{
	height: 200px;
	width: 100%;
	position: relative;
	z-index: 5;
	box-shadow: 0px 0px 3px;
	background-color: #C93A4D;
	float: left;
	margin:0px;
	display: flex;
	justify-content: center;
}

.div-rodape-redes{
	float: left;
	display: flex;
	justify-content: center;
	width: 70px;
	height: 70px;
	margin-top: 50px;
	margin-right: 100px;
	margin-left:100px;
	margin-bottom: 50px;
	padding: 5px;
}



/*PRIMEIRO SEGMENTO*/
.div-geral{
	height: 100%;
	width: 100%;
	margin: 0px;
}

.div-texto-topo{
	position: relative;
	z-index: 10;
	width: 100%;
	height: 40px;
	text-align: center;
	background-color: #000000;
	color: white;
	box-shadow: 0px 0px 7px #000000;
}

.texto-topo-pagina{
	position: relative;
	top: 6px;
	height: 100%;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.centralizar-texto{
	text-align: center;
}

.div-titulo-inicial{
	position: relative;
	z-index: 9;
	height: 120px;
	width: 100%;
	background-color: #AB183D;
	box-shadow: 0px 0px 7px #000000;
}

.tabela-titulo-inicial{
	height: 100%;
	width: 100%;
	text-align: center;
}

.tr-tamanho{
	width: 20%;
}

.tr-tamanho img{
	height: 120px;
	cursor: pointer;
}

.b-icones{
	height: 35px;
	background-color: transparent;
	color: transparent;
	outline: none;
	border: none;
	transition: 0.1s;
	transition-property: height;
	position: relative;
}
.b-icones img{
	height: 100%;
}
.b-icones:hover{
	height: 42px;
	cursor: pointer;
}

.div-logo{
	height: 100%;
	width: 100%;
}

.b-menu-opcoes{
	height: 100%;
	width: 100%;
	background-color: #AB183D;
	border-radius: 20px;
	border: none;
	font-size: 32;
	cursor: pointer;
	outline: none;
}
.b-menu-opcoes:hover{
	position: relative;
	position: 2;
	background-color: #d43c53;
	box-shadow: 0px 0px 8px #d43c53;
}
.b-menu-opcoes:active{
	background-color: #C15872;
}

.div-meio-pagina{
	width: 100%;
	height: 500px;
}

.div-meio-pagina table{
	height: 100%;
	width: 100%;
}

.b-cadastro{
	z-index: 2;
	position: relative;
	background-color: #A4587A;
	border-radius: 0px;
	border: none;
	font-size: 25px;
	padding: 10px;
	outline: none;
	box-shadow: 0px 0px 1px #000000;
	transition: 0.15s;
	transition-property: box-shadow, background-color;
}
.b-cadastro:hover{
	cursor: pointer;
	background-color: #B08A9B;
	box-shadow: 0px 0px 2px #000000;
}
.b-cadastro:active{
	background-color: #834661;
}

.mensagem-cativante{
	text-shadow: 1px 1px 0px #FFFFFF;
}



/*TELA DE LOGIN-CADASTRO*/
.div-cadastro{
	top: 6%;
	width: 480px;
	height: 500px;
	position: relative;
	background-color: pink;
	border: solid 1px;
	border-radius: none;
	box-shadow: 1px 1px 2px #000000;
	margin: auto;
}

.div-login{
	top: 14%;
	width: 480px;
	height: 325px;
	position: relative;
	background-color: pink;
	border: solid 1px;
	border-radius: none;
	box-shadow: 1px 1px 2px #000000;
	margin: auto;
}

.table-cadastro{
	width: 100%;
	margin: 12px;
}

.table-cadastro input{
	width: calc(100% - 24px);
	height: 56px;
	font-size: 28;
	margin-top: 7px;
	margin-bottom: 4px;
	outline: none;
	border: solid 0px;
	border-radius: 0px;
	transition: 0.2s;
	transition-property: border-bottom;
}
.table-cadastro input::placeholder{
	bottom: 6%;
	z-index: 2;
	position: relative;
	font-size: 20;
	padding: 10px;
	transition: 0.2s;
	transition-property: bottom;
}
.table-cadastro input:focus{
	transition: 0.2s;
	border-bottom: solid 3px;
}
.table-cadastro input:focus::placeholder{
	transition: 0.2s;
	bottom: 80%;
	border-bottom: solid 3px;
	border: none;
}

.table-cadastro button{
	width: calc(100% - 24px);
	height: 62px;
	font-size: 45;
	border: none;
	border-radius: 0px;
	outline: none;
	cursor: pointer;
	margin-top: 22px;
	background-color: #a94646;
	color: white;
	box-shadow: 1px 1px 3px #000000;
}
.table-cadastro button:hover{
	background-color: #bf5151;
}
.table-cadastro button:active{
	background-color: #853f3f;
}

.alinhar-texto-direita{
	text-align: center;
	color: red;
	font-size: 14px;
}

.erro-cadastro{
	border: solid red 1px !important;
}
.erro-cadastro::placeholder{
	color: red;
}



/*PAGINA DE USUARIO*/
.div-ubloco{
	background-color: #FFF7F7;
	position: relative;
	top: 5%;
	height: 160px;
	width: 65%;
	margin: 0 auto;
	border-radius: 20px;
	box-shadow: 0px 0px 3px black;
}

.div-ubloco table{
	width: 100%;
	height: 100%;
}

.fit-img{
	width: 145px;
	height: 145px;
	position: relative;
	left: 5%;
}

.informacoes-cinza{
	color: gray;
}

.informacoes{
	color: black;
	font-size: 30px;
}

.info{
	color: black;
	font-size: 20px;
}

.info-cartao{
	color: blue;
	font-size: 25px;
}

.info-cartao:hover{
	border-bottom: solid 1px blue;
	cursor: pointer;
}

.botao-sair{
	color: red;
	position: relative;
	right: 5%;
	float: right;
	height: 15px;
}

.botao-sair:hover{
	border-bottom: solid 1px red;
	cursor: pointer;
}

.dados-pessoais{
	position: relative;
	top: 11%;
	left: 18%;
	font-size: 20px;
}

.cartoes-cadastrados{
	position: relative;
	top: 11%;
	left: 42%;
	font-size: 20px;
}

.div-cartoes{
	background-color: #FFF7F7;
	position: relative;
	top: 12%;
	height: 160px;
	width: 65%;
	margin: 0 auto;
	border-radius: 20px;
	box-shadow: 0px 0px 3px black;
}

.div-cartoes table{
	width: 100%;
	min-height: 100%;
}

.botao-mudarS{
	position: relative;
	left: 2%;
	color: red;
}
.botao-mudarS:hover{
	border-bottom: solid 1px red;
	cursor: pointer;
}

.div-overlay{
	display: none;
	position: fixed;
	z-index: 50;
	background-color: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
}

.div-mudar-senha{
	background-color: #FFF7F7;
	position: relative;
	top: 37%;
	width: 32%;
	margin: 0 auto;
	border-radius: 20px;
	box-shadow: 0px 0px 3px black;
}
.alturaJDeletar{
	height: 200px;
}

.alturaJMudar{
	height: 250px;
}

.alturaJCartao{
	height: 300px;
}

.div-mudar-senha table{
	width: 100%;
	height: 100%;
	text-align: center;
}

.div-mudar-senha input{
	background-color: inherit;
	border: none;
	border-bottom: solid 2px black;
	border-radius: 0px;
	outline: none;
	font-size: 20px;
}
.div-mudar-senha input::placeholder{
	position: relative;
	right: 0%;
	transition-property: right;
	transition: 0.3s;
}
.div-mudar-senha input:focus::placeholder{
	right: 105%;
}

.input-janela-erro{
	border-bottom: solid 2px red !important;
}

.input-janela-erro::placeholder{
	color: red;
}

.fechar-janela{
	height: 25px;
}

.fechar-janela img{
	position: relative;
	left: 45%;
	top: 40%;
	height: 20px;
	width: 20px;
	border-radius: 20px;
	transition: 0.2s;
	transition-property: background-color;
}
.fechar-janela img:hover{
	cursor: pointer;
	background-color: #AFAAAA;
}

.erro-janela{
	height: 30px;
	font-size: 18px;
	color: red;
}

.b-janela{
	height: 25px;
	font-size: 15px;
	border: solid 1px black;
	border-radius: 0px;
	outline: none;
	background-color: #F2E6E6;
	transition: 0.1s;
	transition-property: background-color;
}

.b-janela:hover{
	cursor: pointer;
	background-color: #D8D2D2;
}



/*CARRINHO*/
.div-main-carrinho{
	position: relative;
	top: 8%;
	background-color: #FFF7F7;
	width: 80%;
	height: 500px;
	margin: 0 auto;
	border-radius: 6px;
}

.espacamento{
	height: 50px;
	text-align: right;
}

.espacamento-preco{
	height: 100px;
	text-align: right;
}

.espacamento-final{
	height: 150px;
	text-align: right;
}

.espacamento-final table{
	height: 100%;
	position: relative;
	right: 80px;
	float: right;
	text-align: center;
}

.botao-efetuar-compra{
	outline: none;
	height: 50px;
	font-size: 15px;
	width: 160px;
	border: 0px;
	border-radius: 2px;
	color: white;
	background-color: #a94646;
	transition: 0.1s;
	transition-property: background-color;
}

.botao-efetuar-compra:hover{
	cursor: pointer;
	background-color: #BA6A6A;
}

.botao-efetuar-compra:active{
	background-color: #873838;
}
.botao-efetuado{
	outline: none;
	height: 50px;
	font-size: 15px;
	width: 160px;
	border: 0px;
	border-radius: 2px;
	color: white;
	background-color: #6EA561;
}

.espacamento-preco b{
	position: relative;
	top: 20px;
	right: 20px;
	height: 50px;
	text-align: right;
}

.fonte-preco{
	font-size: 32px;
}

.fonte-frete{
	color: gray;
	font-size: 20px;
}

.linha-separador{
	background-color: gray;
	width: 90%;
	height: 1px;
	margin: 0 auto;
}

.div-espaco-produto{
	margin: 0 auto;
	width: 90%;
	height: 200px;
}
.div-dentro{
	position: relative;
	top: 50px;
	height: 50%;
	width: 100%;
	text-align: left;
}

.div-dentro table{
	height: 100%;
	width: 100%;
}

.div-espaco-produto img{
	object-fit: cover;
	height: 90px;
	width: 90px;
	margin-left: 5px;
}

.div-produto-nome{
	position: relative;
	left: 15px;
	height: 120px;
	bottom: 40px;
	font-size: 20px;
	text-align: right;
}

.div-preco{
	position: relative;
	left: 15px;
	height: 120px;
	font-size: 28px;
	text-align: right;
}

.div-espaco-produto input{
	position: relative;
	bottom: 40%;
	outline: none;
	text-align: center;
	height: 45px;
	width: 70px;
	margin-right: 75px;
}

.produto-tr1{
	height: 100%;
	width: 70%;
}

.produto-tr2{
	height: 100%;
	width: 30%;
}

.alinha-produto-direita{
	text-align: right;;
}

.compra-juros{
	font-size: 18px;
	height: 40px;
	width: 145px;
	outline: none;
	border-radius: 1px;
}

.botao-remover{
	font-style: italic;
	color: #e15454;
	font-size: 18px;
}

.botao-remover:hover{
	border-bottom: solid 1px #b63b3b;
	cursor: pointer;
	color: #b63b3b;
}
.quantidade-Produto{}

/*PAGINA MAIS OPCOES*/
.produtos-fundo{
	position: fixed;
	background-color: #fff7f7;
	height: 100%;
	width: 70%;
	z-index: -1;
	left: 15%;
}

.produtos-base{
	height: 60%;
	width: 70%;
	margin: 0 auto;
}

.div-card-produto{
	float: left;
	text-align: center;
	justify-content: center;
	width: 150px;
	height: 200px;
	background-color: #CCC;
	margin: 12px;
	padding: 5px;
}